.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    /* background-color: red; */
}

.myform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    height: 60%;
    border: 2px solid;
}
/* .name{
    background-color: green;
    margin-bottom: 20px;
} */
.name, .pass{
    /* background-color: rgb(190, 230, 248); */
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    overflow: auto;
}

.reg-btn{
    width: 80%;
    height: 40px;
    background-color: #0079F7;
    color: white;
    font-size: 18px;
}